
{{#if error_message}}
<br>
<div class="alert alert-danger">
{{error_message}}
</div>
{{/if}}
<br>
 <br>

<div class="row">
  
<div class="col-md-4"></div>
<div class="col-md-4" style="background-color: cornsilk; font-size:xx-large; color: brown">
       {{#if itemsArray}}
  <ul class="list-group"> 
  {{#each itemsArray}}
  <li class="list-group-item" style="background-color: khaki;">
  <span style="font-weight:bold; background-color:brown; font-size:xx-large; color: cornsilk;">{{item.title}} : </span>
   &ensp;
  <span class="badge badge-success" style="background-color: rgb(0, 255, 157);; font-size:xx-large; color: brown; font-weight:bold">Rs. {{item.price}} </span>   
   &ensp;&ensp;
      
  <div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: brown; font-size:xx-large; color: cornsilk; font-weight:bold">
    Change
  </button>
  <div class="dropdown-menu" style="background-color: gray; font-size:xx-large; color: brown; font-weight:bold;" class="text-center">
    <a class="dropdown-item" href="/reduce/{{item._id}}" style="background-color:rgb(0, 255, 242);; font-size:xx-large; color: brown; font-weight:bold;" class="text-center">Reduce by 1</a>
   <div class="dropdown-divider"></div>
   <a class="dropdown-item" href="/removeItem/{{item._id}}" style="background-color: rgb(0, 255, 242); font-size:xx-large; color: brown; font-weight:bold;" class="text-center">Remove all</a>
  <div class="dropdown-divider" ></div>
  </div>
  </div>
      
      
      
      
    
    <span  class="badge badge-secondary badge-pill" style="background-color: rgb(0, 255, 242); font-size:xx-large; color: brown; float:right; font-weight:bold;" class="text-center">{{qty}}</span> 
  </li> 
      {{/each}}
  </ul>
    <br>
    <div class="dropdown-divider"></div>
    <h5 style="background-color: rgb(0, 255, 157); font-size:xx-large; color: brown; font-weight:bold;" class="text-center">Total Amount: Rs. {{cart.totalPrice}}</h5> 
    <div class="dropdown-divider"></div>
    <div><center><a href="/checkout" type="button" style="background-color: rgb(0, 255, 242); font-size:xx-large; color: brown; font-weight:bold;" class="text-center">Check Out</a>
     </center></div>
     <div class="dropdown-divider"></div>
     {{else}}
     <div class="dropdown-divider"></div>
    <h3  style="background-color: cornsilk; font-size:xx-large; color: brown" class="text-center"><b>No Food Items has been added to the cart. Kindly add your favourite food items to your cart.</b></h3>
    <div class="dropdown-divider"></div>
    {{/if}}

    
</div>
<div class="col-md-4"></div>
</div>
<br> <br>
<div style="background-color: khaki;"><center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3CynzwqgL6s6yFv0PczrXgOfcZoFpwdsIR3xx6N42LOZjbYxJeUA0QzUGiAUeVwuShhw&usqp=CAU" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf6cHIS_JzT1hSDy9MfV_t9Ilejamwf0iILW7hkXg-yidbEVaOVoqBgMTgIYyn27-ivEU&usqp=CAU" width="400px" height="400px">
    <img src="https://envato-shoebox-0.imgix.net/2102/f378-cf84-46c3-9db0-23bc5355eb73/P4160226.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=adc374fbb94a4776677916cfea6a7590" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxlGaVdXLzua60lgRBcRltXqyFq9FqJJ1O0Q&usqp=CAU" width="400px" height="400px">
    <img src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1906/indianfoodimages190602207/125859715-indian-hindu-veg-thali-food-platter-selective-focus.jpg?ver=6" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwvEO2u5s4K6uSRSA40hdKfrpLrkuXX8QF_Q&usqp=CAU" width="400px" height="400px">
</center></div> <br> <br>