
{{#if success}}
<br>
<div class="alert alert-success">
{{success}}
</div>
{{/if}}

{{#if error_message}}
<br>
<div class="alert alert-danger">
{{error_message}}
</div>
{{/if}}

{{#if success_message}}
<br>
<div class="alert alert-success">
{{success_message}}
</div>
{{/if}}

<div><h1 style="color: brown; background-color:rgb(0, 255, 157); font-weight:bold"><b><marquee behavior="alternate" direction="left">Welcome To The Food Ordering Application....!!!! We Specialize In Awesome Food....!!!! Exclusive Food....Priceless Taste....!!!! We Specialize In The Times Of Making Food....!!!! Presenting  Aesthetic Food....!!!! Count Memories, Not Calories....!!!! Turning The Ordinary Food Into Extraordinary One....!!!! Spreading Love Through Food....!!!! Hunger Makes You A Good Cook....!!!! A little Slice of Heaven....!!!! Good Food Never Fail In Bringing People Together....!!!!     </marquee></b></h1></div>
{{#each productChunks}}
<div class="row">
{{#each this}}

<div class="col-sm-6 col-md-3" style="background-color: salmon;">
<div class="card" style="width:30rem;" >
  <img style="padding:10px" height="500px" width="500px" class="card-img-top" src={{imagePath}}>
  <div class="card-body" style="color: brown; background-color:khaki; font-size:xx-large; font-weight:bold;">
    <h5 class="card-title" style="font-size:35px;font-weight:bold">{{title}}</h5>
    <p style="color:#696969" class="card-text">{{description}}</p>
    <span style="font-size:35px;font-weight:bold">Rs. {{price}}</span>
      
  <form action="/add-to-cart/{{_id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
      <button style="color: brown; background-color:rgb(0, 255, 157); font-size:xx-large; font-weight:bold; float:right;" type="submit" class="btn btn-success" style="cursor:pointer"><b>Add To Cart</b></button>
  </div>
  </form>
          
  </div>
</div>  
</div>
{{/each}}  
</div>
<br>
<br>
{{/each}}  
<div style="background-color: khaki;"><center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3CynzwqgL6s6yFv0PczrXgOfcZoFpwdsIR3xx6N42LOZjbYxJeUA0QzUGiAUeVwuShhw&usqp=CAU" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf6cHIS_JzT1hSDy9MfV_t9Ilejamwf0iILW7hkXg-yidbEVaOVoqBgMTgIYyn27-ivEU&usqp=CAU" width="400px" height="400px">
    <img src="https://envato-shoebox-0.imgix.net/2102/f378-cf84-46c3-9db0-23bc5355eb73/P4160226.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=adc374fbb94a4776677916cfea6a7590" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxlGaVdXLzua60lgRBcRltXqyFq9FqJJ1O0Q&usqp=CAU" width="400px" height="400px">
    <img src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1906/indianfoodimages190602207/125859715-indian-hindu-veg-thali-food-platter-selective-focus.jpg?ver=6" width="400px" height="400px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwvEO2u5s4K6uSRSA40hdKfrpLrkuXX8QF_Q&usqp=CAU" width="400px" height="400px">
</center></div>
<br>
<br>
